#sidebar {
    width: 20vw;
    height: 100vw;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #07320C;
    font-family: "Arial", Arial, serif;
    z-index: 1000;
    margin: 0px auto;
    display: inline-block;
    word-wrap: break-word; 
    overflow: scroll;
    padding: 2vw;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
 }
