
:root{
  --color-bg-black: #000000;
  --color-bg-red: #601111;
  --color-bg-green: #07320C;
  --color-text-yellow: #E0D570;
  --wrapper-height: 85vh;
  --image-max-width: 500px;
  --font-family: serif;
}

body.primary {
  background-color: #000000;
}

main.primary {
  background-color: #601111;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 1px;
  padding-bottom: 50px;
  margin: 50px;
  min-height: 85vh;
}

body.tour {
  background-color: #07320C;
}

main.tour {
  background-color: #601111;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  height: 45vw;
  width: 85vw;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  text-align: center;
}

.wrap {
  position: relative;
}

.wrapper {
  min-height: 85vh;
  place-items: center;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

.header {
  justify-content: center;
  background: #000000;
  margin-bottom: 30px;
}

.footer {
  display: grid;
  justify-content: center;
  margin: 0rem 0rem 0rem;
  padding: 0rem 0 0rem 0rem;
  flex-wrap: wrap;
}


.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: serif;
  font-size: 12pt;
  color: #E0D570;
  text-decoration: none;
  border-style: none;
  display: inline-block;
  position: relative;
}

.footer .links {
  padding: 1rem 1.5rem 1rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  justify-content: center;
  text-align: center;
}

.divider {
  padding: 0 1rem;
  color: #d9bcbe;
}

a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  text-decoration: none;
  border-bottom: 0px solid var(--color-primary);
  transition: background 0.2s linear;
  color: #E0D570;
}

.a1:hover {
  background: #444444;
  border-radius: 10px;
  padding: 5px;
}

body.container {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

div.container {
  text-align: center;
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
}

div.M-container {
  display: inline-block;
  flex-wrap: wrap;
}

.box{
  display: inline-block;
  align-items: center;
  flex-wrap: wrap;
  background-color: #07320C;
  padding: 5px;
}

.box-b{
  display: inline-block;
  align-items: center;
  flex-wrap: wrap;
  background-color: #000000;
  padding: 5px;
}

h1 {
	color: #E0D570;
	text-align: center;
	font-family: serif;
	font-size: 27pt;
  font-style: normal;
  font-weight: 400;
}

h2 {
  color: #E0D570;
  font-family: serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}

h3 {
  color: #E0D570;
  font-family: serif;
  font-size: 14pt;
  font-style: normal;
  font-weight: 500;
}

h4 {
  color: #E0D570;
  font-family: serif;
  font-size: 18pt;
  font-style: normal;
  font-weight: 500;
}

h5 {
  color: #E0D570;
  font-family: serif;
  font-size: 12pt;
  font-style: normal;
  font-weight: 500;
}

h6 {
  color: #E0D570;
  font-family: serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
}

h2.textbox {
  line-height: 1.5 !important;
  padding: 20px;
  color: #E0D570;
  font-size: 12pt;
  font-family: serif;
  text-align: left;
  margin: auto;
}

.textbox {
  max-width: 800px;
  max-height: auto;
  padding: 20px;
  padding: 1rem;
  line-height: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.static {
  max-width: 70%;
  height: auto;
  padding: 5px;
  margin: auto;
  display: block;
}

#map {
  height: 45vw;
  width: 85vw;
  z-index: 500;
  margin: auto 0px;
  display: inline-block;
}

#sidebar {
   width: 20vw;
   height: 41vw;
   position: absolute;
   top: 0%;
   right: 0%;
   background-color: #07320C;
   font-family: "Arial", Arial, serif;
   z-index: 1000;
   margin: 0px auto;
   display: inline-block;
   word-wrap: break-word; 
   overflow: scroll;
   padding: 2vw;
}



